.containerCharacters{
    display: flex;
    width: 200px;
    height: 200px;
    flex-direction: column;
    align-items: center;
}

img{
    height: 200px;
    width: 160px;
    border-radius: 10px;
}

.allCharacters{
    display: flex;
}

button{
    cursor: pointer;
    margin: 150px;
}

.card{
    display: flex;
}